<%= link_to "user profile",  %>
<!-- NOT SURE WHAT TO PUT AS PATH -->
<ul>
<%= @puppies.each do |puppy| %>
  <li>
    <%= link_to(puppy) do %>
      <%= puppy.name %>
    <%= end %>
  </li>
<%= end %>
</ul>
