<%= render '/components/navbar' %>
<%= render '/components/search-navbar' %>

<div class="container">
  <div class="border-orange">

<div class="form">
<%= simple_form_for @puppy do |f| %>
  <%= f.input :name %>
  <%= f.input :birthdate %>
  <%= f.input :breed %>
  <%= f.input :photo %>
  <!--<%= # f.input :photo_cache as: :hidden %>-->
  <%= link_to "Create", puppies_path, class: 'btn btn-warning' %>
</div>
<% end %>
</div>
</div>
