<h1><%= @puppy.name %></h1>
<!-- NEED TO ADD IMAGE HERE -->
<%= link_to new_puppy_booking_path(@puppy) do %>
  <p>Book the puppy</p>
<% end %>
<%= link_to owner_path(@puppy) do %>
  <p>view owner profile</p>
<% end %>
<div class="reviews-box">
  <h3><%= "Reviews of #{@puppy.name}" %></h3>
  <% @reviews.each do |review| %>
    <% if review.size > 0 %>
      <div class="review-card">
        <h4><%= review[0].title %></h4>
        <h4>Rating: <%= review[0].rating %>/5</h4>
        <p><%= review[0].description %></p>
      </div>
    <% end %>
  <% end  %>
</div>


<%= link_to 'Back', :back %>
